{{define "title"}}
  沐沐悦读
{{end}}

{{define "keywords"}}
  免费阅读，镇国战神
{{end}}

{{define "description"}}
  这是一个神奇的故事
{{end}}

{{define "main"}}
<header class="ui-header">
  <div class="ui-icon-left">
    <a href="/" class="ui-icon icon-back"></a>
  </div>
  <h1 class="ui-title">Hoops!</h1>
</header>
<div class="weui-content">
  {{.msg}}
</div>
{{end}}

{{define "scripts"}}
  <script>
  </script>
{{end}}